<header>
    <div class="container">
      <a routerLink="/" class="logo">Github Search</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/list">List</a></li>
          <li><div class="wrap">
              <div class="search">
                 <input type="text" class="searchTerm" placeholder="What are you looking for?">
                 <button type="submit" class="searchButton">
                   <i class="fa fa-search"></i>
                </button>
              </div>
           </div></li>
        </ul>
      </nav>
    </div>
  </header>

<div class="container">

  <router-outlet></router-outlet>

</div>
