<header>
    <div class="container">
      <a routerLink="/" class="logo">Github Search</a>
      <nav>
        <ul>
          
          <li>
            <div class="wrap">
                <div class="search">

      <form action="" class="search-form">
          <div class="form-group">
            <input type="text" class="searchTerm form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
            <button type="submit" class="searchButton" ><i class="fa fa-search"></i></button>
          </div>
        </form>
              
      
                 


              </div>
           </div>
          </li>
           <li><a href="#" routerLink="/">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>

<div class="container">

  <router-outlet></router-outlet>

</div>
