
             <div class="wrap">
                <div class="search">

      <form action="" class="search-form">
          <div class="form-group">
            <input type="text" class="searchTerm form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
            <button type="submit" class="searchButton" (click)="findProfile()"><i class="fa fa-search"></i></button>
          </div>
        </form>
              
      
<div *ngIf="profile">
        <sectio>
            <h1>REPOS</h1>
            <div class="content">
                <div class="panel-body" *ngFor="let repo of repos">
                    <p class="clearfix">
                      {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View this project on github</a>
                    </p>
                    <p>{{repo.description}}</p>
                  </div>
            </div>
            <div class="img">

        <div class="container">
            <div class="app">
              <div class="app-buttons" :class="buttonsAnimate">
                <div class="button button--facebook"></div>
                <div class="button button--twitter"></div>
                <div class="button button--instagram"></div>
              </div>
              <div class="app-content" @click="clickCard = !clickCard, buttonAnimate = !buttonAnimate" :class="cardAnimate">
                <div class="app-photo"></div>
                <div class="app-title">
                  <div>{{profile.name}}</div>
                  <div>{{profile.email}}</div>
                </div>
                <div class="app-bottom">
                  <div class="app__block">
                    <h3>Followers</h3>
                    <p>{{profile.followers}}</p>
                  </div>
                  <div class="app__block">
                    <h3>Following</h3>
                    <p>{{profile.following}}</p>
                  </div>
                  <div class="app__block">
                    <h3>Public gists</h3>
                    <p>{{profile.public_gists}}</p>
                  </div>
                  <div class="app__block">
                    <h3>Public Repos</h3>
                    <p>{{profile.public_repos}}</p>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          
            </div>
          </section>

        </div>

         