
             <div class="wrap">
                <div class="search">

      <form action="" class="search-form">
          <div class="form-group">
            <input type="text" class="searchTerm form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
            <button type="submit" class="searchButton" (click)="findProfile()"><i class="fa fa-search"></i></button>
          </div>
        </form>
              
      
                 


              </div>
           </div>
 
           <div *ngIf="profile">

           <div class="movie-card">
  
              <div class="container">
                
                <a href="#"><img src="{{profile.avatar_url}}" alt="cover" class="cover" /></a>
                    
                <div class="hero">
                        
                  <div class="details">
                  
                    <div class="title1">{{profile.name}} <span><small>({{profile.login}})</small>
                    </span></div>
            
                    <div class="title2" *ngIf="profile.email"><a href="emailto:{{profile.email}}">{{profile.email}}</a></div>    
                    
                    <fieldset class="rating">
                        <ul>
                            <li><span class="label label-default">{{profile.followers}} Followers</span></li> 
                             <li><span class="label label-primary">{{profile.following}} Following </span></li>
                             <li><span class="label label-success">{{profile.public_gists}} Public gists</span></li>
                             <li><span class="label label-info">{{profile.public_repos}} Public Repos</span></li>
                         </ul>
              </fieldset>
                    
                    <span class="likes">109 likes</span>
                    
                  </div> <!-- end details -->
                  
                </div> <!-- end hero -->
                
                <div class="description">
                  
                  <div class="column1">
                    <span class="tag"><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></span>

                  </div> <!-- end column1 -->
                  
                  <div class="column2">
                    
                      <div class="separator"></div>
                      <h3>Repos</h3>
                      <div class="panel-body" *ngFor="let repo of repos">
                          <p class="clearfix">
                            {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View this project on github</a>
                          </p>
                          <p>{{repo.description}}</p>
                        </div>  
                                  
                    <div class="avatars">
                      <a href="#" data-tooltip="Person 1" data-placement="top">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar1.png" alt="avatar1" />
                      </a>
                      
                      <a href="#" data-tooltip="Person 2" data-placement="top">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar2.png" alt="avatar2" />
                      </a>
                      
                      
                      <a href="#" data-tooltip="Person 3" data-placement="top">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar3.png" alt="avatar3" />
                      </a>
                      
                    </div> <!-- end avatars -->
                    
                    
                    
                  </div> <!-- end column2 -->
                </div> <!-- end description -->
                
               
              </div> <!-- end container -->
            </div> <!-- end movie-card -->   
          </div>       



     