
             <div class="wrap">
                <div class="search">

      <form action="" class="search-form">
          <div class="form-group">
            <input type="text" class="searchTerm form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
            <button type="submit" class="searchButton" (click)="findProfile()"><i class="fa fa-search"></i></button>
          </div>
        </form>
              
      
                 


              </div>
           </div>
 
 
 <div *ngIf="profile">
<div class="fond"> <span class="s1"><i class="fab fa-github-alt"></i></span><span class="s2"><i class="fab fa-github-alt"></i></span></div>
<div class="card">
  <div class="thumbnail"><img class="left" src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg"/></div>
  <div class="right">
    <h1>Why you Need More Magnesium in Your Daily Diet</h1>
    <div class="author"><img src="{{profile.avatar_url}}"/>
      <h2> </h2>
    </div>
    <div class="separator"></div>
    <h3>Repos</h3>
    <div class="panel-body" *ngFor="let repo of repos">
        <p class="clearfix">
          {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View this project on github</a>
        </p>
        <p>{{repo.description}}</p>
      </div>  
    </div>
  <h5>{{profile.name}}</h5>
  <h6><small>({{profile.login}})</small> </h6>
  <ul>
     <li><span class="label label-default">{{profile.followers}} Followers</span></li> 
      <li><span class="label label-primary">Following {{profile.following}}</span></li>
      <li><span class="label label-success">{{profile.public_gists}} Public gists</span></li>
      <li><span class="label label-info">{{profile.public_repos}} Public Repos</span></li>
  </ul>
  <div class="fab"><i class="fa fa-arrow-down fa-3x"> </i></div>
</div>
</div>

     